@use "variables" as *;

/*
***** RESETTING/CUSTOMIZING *****
*/

body {
  margin: 0;
  color: $darker;
}
i {
  font-style: normal;
}
a {
  color: $link;
  outline: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

@include at-large-screen {
  ::-webkit-scrollbar {
    width: 0.7rem;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px $darker;
    background: $regular;
  }
  ::-webkit-scrollbar-thumb {
    background: darken($regular, 20%);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darken($regular, 35%);
  }
}

/*
***** GENERAL & UTILITY CLASSES *****
*/

.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.center-y {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.bg-lighter {
  background-color: $lighter !important;
}
.bg-light {
  background-color: $light !important;
}
.bg-dark {
  background-color: $dark !important;
}
.bg-regular {
  background-color: $regular !important;
}

.text-dark {
  color: $dark;
}
.text-regular {
  color: $regular;
}
.text-primary {
  color: $primary;
}

.mr-1 {
  margin-right: $space1;
}
.ml-1 {
  margin-left: $space1;
}
.mt-1 {
  margin-top: $space1;
}
.mb-1 {
  margin-bottom: $space1;
}
.mb-6 {
  margin-bottom: $space6;
}

.p-1 {
  padding: $space1;
}
.p-4 {
  padding: $space4;
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  width: 100%;
}

.uc-overflow-hidden {
  overflow: hidden;
}
.uc-x-scrollable {
  overflow-x: auto;
}

.uc-float-right {
  float: right;
}

.uc-opacity-25 {
  opacity: 25%;
}

.uc-cursor-default {
  cursor: default;
}

.uc-w-25 {
  width: 25% !important;
}
.uc-w-50 {
  width: 50% !important;
}
.uc-w-75 {
  width: 75% !important;
}
.uc-w-100 {
  width: 100% !important;
}

.uc-mt-n4 {
  margin-top: -1rem !important;
}

.uc-parts {
  .uc-part {
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    border-width: 1px;
    border-bottom-width: 0;
    padding: 1rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: block;
  }
  .uc-part:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .uc-part:last-of-type {
    border-bottom-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  a.uc-part {
    color: black;
  }
  a.uc-part.active,
  a.uc-part:hover {
    background-color: hsl(0, 0%, 98%);
  }
  a.uc-part.active {
    font-weight: 500;
  }
}

@include at-small-screen {
  .uc-flex-dir-col-sm {
    flex-direction: column;
  }

  .uc-pt-2-sm {
    padding-top: 0.5rem !important;
  }

  .uc-mt-3-sm {
    margin-top: 0.75rem !important;
  }

  .uc-mx-n2-sm {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
  }

  .uc-w-100-sm {
    width: 100% !important;
  }

  .uc-d-block-sm {
    display: block !important;
  }

  .uc-float-left-sm {
    float: left !important;
  }
}
