@use "variables" as *;

/*
***** GLOBAL STYLE *****
*/

body {
  margin: 0;
}
i {
  font-style: normal;
}
a {
  color: $link;
}

button,
.button {
  background-color: $light;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  color: $darker;
  border-radius: 5px;
  text-decoration: none;
}
button.primary,
.button.primary {
  background-color: $primary;
  color: $lightest;
}
button.primary.light,
.button.primary.light {
  background-color: $primaryLight;
  color: $primary;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}

.position-absolute {
  position: absolute;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.bg-light {
  background-color: $lighter;
}

.uc-text-overflow {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: initial !important;
}
.uc-overflow-hidden {
  overflow: hidden;
}
.uc-x-scrollable {
  overflow-x: auto;
}

.uc-d-inline-block {
  display: inline-block !important;
}

.uc-float-right {
  float: right;
}

.uc-opacity-25 {
  opacity: 25%;
}

.uc-cursor-default {
  cursor: default;
}

.uc-w-25 {
  width: 25% !important;
}
.uc-w-50 {
  width: 50% !important;
}
.uc-w-75 {
  width: 75% !important;
}
.uc-w-100 {
  width: 100% !important;
}

.uc-mt-n4 {
  margin-top: -1rem !important;
}

.uc-parts {
  .uc-part {
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
    border-width: 1px;
    border-bottom-width: 0;
    padding: 1rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: block;
  }
  .uc-part:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .uc-part:last-of-type {
    border-bottom-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  a.uc-part {
    color: black;
  }
  a.uc-part.active,
  a.uc-part:hover {
    background-color: hsl(0, 0%, 98%);
  }
  a.uc-part.active {
    font-weight: 500;
  }
}

@media screen and (max-width: $smallScreenBreakpoint) {
  .uc-flex-dir-col-sm {
    flex-direction: column;
  }

  .uc-pt-2-sm {
    padding-top: 0.5rem !important;
  }

  .uc-mt-3-sm {
    margin-top: 0.75rem !important;
  }

  .uc-mx-n2-sm {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
  }

  .uc-w-100-sm {
    width: 100% !important;
  }

  .uc-d-block-sm {
    display: block !important;
  }

  .uc-float-left-sm {
    float: left !important;
  }
}
