@use "variables" as *;

/*
***** RESETTING/CUSTOMIZING *****
*/

body {
  margin: 0;
  color: $darker;
}
i {
  font-style: normal;
}
a {
  color: $primary;
  outline: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
menu {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}
code {
  background-color: $light;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid $regular;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
summary:hover {
  cursor: pointer;
}
@include at-large-screen {
  ::-webkit-scrollbar {
    width: 0.4rem;
  }
  *:hover::-webkit-scrollbar {
    width: 0.7rem;
  }
  ::-webkit-scrollbar-track {
    background: $light;
    border-left: 1px solid $regular;
  }
  ::-webkit-scrollbar-thumb {
    background: darken($regular, 10%);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darken($regular, 20%);
  }
}

/*
***** GENERAL & UTILITY CLASSES *****
*/

.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.center-y {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}

.bg-transparent {
  background-color: transparent !important;
}
.bg-lightest {
  background-color: $lightest !important;
}
.bg-lighter {
  background-color: $lighter !important;
}
.bg-light {
  background-color: $light !important;
}
.bg-dark {
  background-color: $dark !important;
}
.bg-regular {
  background-color: $regular !important;
}

.text-dark {
  color: $dark;
}
.text-regular {
  color: $regular;
}
.text-primary {
  color: $primary;
}
.text-danger {
  color: $danger;
}

.mr-1 {
  margin-right: $space1;
}
.mr-2 {
  margin-right: $space2;
}
.mr-3 {
  margin-right: $space3;
}
.mr-4 {
  margin-right: $space4;
}
.ml-1 {
  margin-left: $space1;
}
.ml-2 {
  margin-left: $space2;
}
.ml-3 {
  margin-left: $space3;
}
.mt-1 {
  margin-top: $space1;
}
.mt-2 {
  margin-top: $space2;
}
.mt-3 {
  margin-top: $space3;
}
.mt-4 {
  margin-top: $space4;
}
.mt-5 {
  margin-top: $space5;
}
.mt-6 {
  margin-top: $space6;
}
.mb-1 {
  margin-bottom: $space1;
}
.mb-2 {
  margin-bottom: $space2;
}
.mb-3 {
  margin-bottom: $space3;
}
.mb-5 {
  margin-bottom: $space5;
}
.mb-6 {
  margin-bottom: $space6;
}
.mx-1 {
  margin-right: $space1;
  margin-left: $space1;
}
.mx-2 {
  margin-right: $space2;
  margin-left: $space2;
}
.my-1 {
  margin-top: $space1;
  margin-bottom: $space1;
}
.my-2 {
  margin-top: $space2;
  margin-bottom: $space2;
}
.my-3 {
  margin-top: $space3;
  margin-bottom: $space3;
}
.my-4 {
  margin-top: $space4;
  margin-bottom: $space4;
}
.my-6 {
  margin-top: $space6;
  margin-bottom: $space6;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: $space1;
}
.pl-4 {
  padding-left: $space4;
}
.p-4 {
  padding: $space4;
}
.pt-6 {
  padding-top: $space6;
}
.pb-1 {
  padding-bottom: $space1;
}
.pb-2 {
  padding-bottom: $space2;
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.px-1 {
  padding-right: $space1;
  padding-left: $space1;
}
.px-2 {
  padding-right: $space2;
  padding-left: $space2;
}

.border {
  border: 1px solid $regular;
}
.border-bottom {
  border-bottom: 1px solid $regular;
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  width: 100%;
}

.fs-default {
  font-size: $fontSize1;
}
.fs-medium {
  font-size: $fontSize095;
}
.fs-smaller {
  font-size: $fontSize09;
}
.fs-small {
  font-size: $fontSize08;
}

.opacity-25 {
  opacity: 25%;
}
.opacity-50 {
  opacity: 50%;
}

// .uc-parts {
//   .uc-part {
//     border-style: solid;
//     border-color: hsl(0, 0%, 90%);
//     border-width: 1px;
//     border-bottom-width: 0;
//     padding: 1rem;
//     margin-top: 0 !important;
//     margin-bottom: 0 !important;
//     display: block;
//   }
//   .uc-part:first-of-type {
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//   }
//   .uc-part:last-of-type {
//     border-bottom-width: 1px;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//   }
//   a.uc-part {
//     color: black;
//   }
//   a.uc-part.active,
//   a.uc-part:hover {
//     background-color: hsl(0, 0%, 98%);
//   }
//   a.uc-part.active {
//     font-weight: 500;
//   }
// }

@include at-small-screen {
  .w-100-sm {
    width: 100%;
  }
}
