$lightest: #fff;
$lighter: #f6f8fa;
$light: #f0f4f8;
$regular: #d8dee4;
$dark: #57606a;
$darker: #24292f;
$darkest: #000;

$smallScreenBreakpoint: 768px;
$largeScreenBreakpoint: 769px; // has to be +1px

$primary: #00d1b2;
$primaryLight: #ebfffc;
$link: #296fa8;
$linkLight: #eff5fb;

$space1: 0.25rem;
$space2: 0.5rem;
$space3: 0.75rem;
$space4: 1rem;
$space5: 1.5rem;
$space6: 2rem;

$zIndex1: 5; // below sidebar
$zIndex2: 10; // sidebar
$zIndex3: 15; // above sidebar

@mixin at-small-screen {
  @media screen and (max-width: $smallScreenBreakpoint) {
    @content;
  }
}

@mixin at-large-screen {
  @media screen and (min-width: $largeScreenBreakpoint) {
    @content;
  }
}
