@use "variables" as *;

.button {
  background-color: $light;
  border: none;
  font-size: $fontSize1;
  padding: 0.5rem 0.75rem;
  color: $darker;
  border-radius: 5px;
  text-decoration: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;

  &:hover {
    background-color: darken($light, 3%);
  }

  &:disabled {
    pointer-events: none; // will disable events like cursor and bg changes on hover
    opacity: 0.7;
  }
}

.loading {
  color: transparent !important; // hide text (while preserving button size)

  &::after {
    content: "";
    width: 4px;
    height: 4px;
    background: $darker;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
    border-radius: 3px;
    position: absolute;
    margin-left: -0.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @keyframes animloader {
      0% {
        box-shadow: 10px 0 $lighter, 20px 0 $lighter;
      }
      50% {
        box-shadow: 10px 0 $darker, 20px 0 $lighter;
      }
      100% {
        box-shadow: 10px 0 $darker, 20px 0 $darker;
      }
    }
  }
}

.sm {
  padding: 0.38rem 0.75rem;
}

.primary {
  background-color: $primary;
  color: $lightest;

  &:hover {
    background-color: darken($primary, 3%);
  }
}

.primaryLight {
  background-color: $primaryLight;
  color: $primary;

  &:hover {
    background-color: darken($primaryLight, 3%);
  }
}
