@use "variables" as *;

.dropdown {
  position: relative;
}

.content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $light;
  height: auto;
  width: auto;
  display: block;
  border-radius: 5px;
  padding: $space2;
  box-shadow: 0 2px 5px 1px $regular;
}
