/*
***** GLOBAL STYLE *****
*/

.center-absolute {
  left: 50%;
  transform: translate(-50%, -50%);
}
.position-absolute {
  position: absolute !important;
}
.width-100 {
  width: 100% !important;
}

/* 
***** CUSTOMIZING BULMA *****
*/

@media screen and (max-width: 1024px) {
  .container.is-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Overridding Bulma variables. For more variables see this url: https://bulma.io/documentation/customize/variables/#derived-variables
// $primary: #fa7203;

@import "~bulma/bulma.sass";
