@use "variables" as *;

.details {
  display: flex;
  flex-direction: row;

  .title {
    flex: 1;
  }

  .authorAndDate {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: $fontSize09;
    color: $dark;
    margin-left: $space4;
    margin-bottom: $space2;

    span {
      color: $darkest;
    }
  }

  @include at-small-screen {
    flex-direction: column;

    .authorAndDate {
      margin-left: 0;
      margin-top: $space4;
    }
  }
}

.properties {
  margin: $space4 0;

  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(50% - $space2); // 2 divs in a row, have space in between
    }
  }

  @include at-small-screen {
    margin: $space1 0;

    fieldset {
      div {
        flex-basis: 100%;
      }
    }
  }
}
