@use "variables" as *;

.loader {
  color: $darker;
  font-size: 18px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:after {
    content: "";
    width: 4px;
    height: 4px;
    background: $darker;
    margin-left: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
    border-radius: 3px;

    @keyframes animloader {
      0% {
        box-shadow: 10px 0 $lighter, 20px 0 $lighter;
      }
      50% {
        box-shadow: 10px 0 $darker, 20px 0 $lighter;
      }
      100% {
        box-shadow: 10px 0 $darker, 20px 0 $darker;
      }
    }
  }
}
