@use "variables" as *;

.sidebar {
  height: 100vh;
  width: 30%;
  min-width: 350px;
  background-color: $lighter;
  border-right: 1px solid $regular;
  overflow: hidden;

  .header {
    background-color: $light;
    border-bottom: 1px solid $regular;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .menuToggle {
      display: none;
      cursor: pointer;
    }

    .brand {
      font-size: 1.75rem;
      font-weight: 700;
      color: $darker;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .user {
      // position: relative;
      z-index: $zIndex3;

      &:hover {
        cursor: pointer;
      }

      summary {
        display: flex;
      }

      img {
        border: 1px solid $regular;
        border-radius: 1rem;
      }

      ul {
        position: absolute;
        right: 0.5rem;
        top: 2.5rem;
        background-color: $light;
        border-radius: 5px;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 200px;
        text-align: right;
        box-shadow: 0 3px 10px 2px $regular;

        li {
          padding: 10px 10px;
        }
      }
    }
  }

  @include at-small-screen {
    width: 100%;
    height: auto;
    border: none;
    z-index: $zIndex2;

    .header {
      position: unset;

      .menuToggle {
        display: block;
      }

      .brand {
        font-size: 1.5rem;
      }

      .user {
        summary {
          width: 24px; // or in mobile brand will float when loading
        }
        img {
          width: 22px;
          height: 22px;
        }
      }
    }

    .main {
      visibility: hidden;
      position: absolute;
      width: 100%;
      left: -100%;
      background-color: $lighter;
      height: 100%;
      transition: all 0.1s ease-in;
      overflow: hidden;
      z-index: $zIndex2;

      &.open {
        visibility: visible;
        left: 0;
      }
    }
  }
}

.repos {

  .addButton{
    display: flex;
    justify-content: center;
    // margin-right: -$space4;
    // margin-left: -$space4;
    // width: calc(100% + $space4 + $space4);
    border-radius: 0;
    border-top: 1px solid $regular;
    color: $dark;
    // position: absolute;
    // bottom: 0;

  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      max-width: 45%;
    }

    label {
      font-size: 0.9rem;
    }
  }

  .list {
    list-style: none;
    padding: 0;

    li {
      a {
        display: flex;
        border-radius: 4px;
        font-size: 0.9rem;
        padding: 7px 0;
        text-decoration: none;
        color: $dark;

        &:hover {
          background-color: $light;
          color: $darker;
        }
      }
    }
  }
}
