@use "variables" as *;

.sidebar {
  height: 100vh;
  width: 30%;
  min-width: 350px;
  background-color: $lighter;
  border-right: 1px solid $regular;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  $headerHeight: 2.5rem;
  .header {
    height: $headerHeight;
    box-sizing: border-box;
    padding: 0 $space4;
    background-color: $light;
    border-bottom: 1px solid $regular;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .menuToggle {
      display: none;
      cursor: pointer;
      color: $darker;
    }

    .brand {
      font-size: 1.75rem;
      font-weight: 700;
      color: $darker;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .user {
      z-index: $zIndex3;
      height: 26px; // img height (24) + borders (2)
      width: 26px; // img width (24) + borders (2)

      &:hover {
        cursor: pointer;
      }

      img {
        border: 1px solid $regular;
        border-radius: 1rem;
      }
    }
  }

  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tabs {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .footer {
      background-color: $light;
      border-top: 1px solid $regular;
      padding: $space1;
      display: flex;
      justify-content: space-between;
    }
  }

  @include at-small-screen {
    min-height: $headerHeight;
    width: 100%;
    height: auto;
    border: none;
    z-index: $zIndex2;

    .header {
      position: unset;

      .menuToggle {
        display: block;
      }
    }

    .main {
      visibility: hidden;
      position: absolute;
      left: -100%;
      width: 100%;
      top: calc($headerHeight + 1px); //1 px for bottom border
      height: calc(100% - $headerHeight - 1px); //1 px for bottom border
      background-color: $lighter;
      transition: all 0.1s ease-in;
      overflow: hidden;
      z-index: $zIndex2;

      &.open {
        visibility: visible;
        left: 0;
      }
    }
  }
}

.selectedArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $regular;
  color: $darker;
  padding-bottom: $space2;
  margin-bottom: $space4;

  h3 {
    overflow: hidden;

    p {
      display: flex;
      align-items: center;
      margin-bottom: $space1;
    }
    small {
      display: flex;
      align-items: flex-end;
      color: $dark;
      font-size: $fontSize09;
    }
  }

  .dropdown {
    margin-left: $space2;

    button {
      line-height: 0;
      padding: $space1;
      color: $dark;
    }
  }
}

.searchArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space4;

  label {
    font-size: $fontSize09;
  }
}

.listArea {
  list-style: none;
  padding: 0;
  margin-left: -$space4;
  margin-right: -$space4;
  overflow: hidden;

  li {
    a {
      display: flex;
      border-radius: 4px;
      font-size: $fontSize09;
      padding: 7px $space4;
      text-decoration: none;
      color: $dark;

      &.active,
      &:hover {
        background-color: $light;
        color: $darker;
      }
    }
  }
}

.dropdownOptions {
  min-width: 8rem;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $dark;
    padding: $space2 $space1;
    font-size: $fontSize09;

    &:hover {
      color: $darker;
    }
  }
}
