@use "variables" as *;

.tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: $space4;
  padding-right: $space4;
  padding-left: $space4;
  border-bottom: 1px solid $regular;
  background-color: $light;

  button {
    flex-grow: 1;
    color: $dark;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: $fontSize1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  button.active {
    color: $darker;
    background-color: $lighter;
    border-color: $regular;
    border-bottom-color: $lighter;
    margin-bottom: -1px;
    padding-bottom: 11px;
  }
}

.content {
  padding: $space4;
  overflow-y: auto;
}
