.titleWithTabs {
  border-bottom: 1px solid hsl(0, 0%, 86%);
  padding-right: 32px;
  padding-left: 32px;
  margin-right: -32px;
  margin-left: -32px;
}

.tabs {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .titleWithTabs {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
