@use "variables" as *;

.tooltip {
  display: inline;

  .content {
    position: fixed;
    display: none;
    z-index: $zIndex3;
    width: 200px;
    background: rgba($darker, 75%);
    color: $lighter;
    font-size: $fontSize09;
    padding: 3px 6px;
    border-radius: 3px;
    cursor: help;
    text-align: left;
  }

  &:hover {
    .content {
      display: block;
    }
  }
}
